.button-container {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 50px;
    /* Boşluğu azaltmak için */
}

.green-button {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 70px;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
    transition: color 0.3s;
    text-decoration: none;
    font-family: 'Telegraf', sans-serif;

}

.green-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(to right, #36B88D, #ffffff);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: background 0.3s;
}

.green-button:hover::before {
    background: linear-gradient(to left, #36B88D, #ffffff);
    text-decoration: none;
}

.button-container .text-color {
    color: #002444;
}

.add-basket {
    color: #002444;
    font-family: 'Telegraf', sans-serif;
    margin-top: -10px;
}