.quantity-input {
    width: 30px !important;
}

.quantity-input-1 {
    margin-top: 110px;
    margin-left: 30%;
}

.quantity-input-2 {
    margin-top: 110px;
    margin-left: 30%;
}

.quantity-input-3 {
    margin-left: 30%;
    margin-top: 110px;

}

.input-group {
    width: 150px;
}

.btn-quantity {
    background-color: #002444;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    border-radius: 5px;
}